/*
Panel Animations
*/
.my-panel-animation.ng-enter {
    -webkit-animation: 0.5s panel-animation-enter;
    animation: 0.5s panel-animation-enter;
}

.my-panel-animation.ng-leave {
    -webkit-animation: 0.5s panel-animation-leave;
    animation: 0.5s panel-animation-leave;
}

@keyframes panel-animation-enter {
    from {
        opacity:0;
        left: 860px;
    }
    to {
        opacity:1;
        left: 0px;
    }
}

@keyframes panel-animation-leave {
    from {
        opacity:1;
        left: 0px;
    }
    to {
        opacity:0;
        left: -430px;
    }
}

@-webkit-keyframes panel-animation-enter {
    from {
        opacity:0;
        left: 860px;
    }
    to {
        opacity:1;
        left: 0px;
    }
}

@-webkit-keyframes panel-animation-leave {
    from {
        opacity:1;
        left: 0px;
    }
    to {
        opacity:0;
        left: -430px;
    }
}


/*
BG Animations
*/

.my-bg-animation.ng-enter {
    -webkit-animation: 0.5s bg-animation-enter;
    animation: 0.5s bg-animation-enter;
}

.my-bg-animation.ng-leave {
    -webkit-animation: 0.5s bg-animation-leave;
    animation: 0.5s bg-animation-leave;
}

@keyframes bg-animation-enter {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes bg-animation-leave {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

@-webkit-keyframes bg-animation-enter {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes bg-animation-leave {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}